body {
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 15px;
    padding: 10px;
    border: 2px;
    border-radius: 5px;
    background-color: white;
}
.heading {
    font-weight: bold;
    font-size: xx-large;
}

.subheading {
    font-size: x-large;
    font-weight: normal;
}

.time {
    padding: 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.daynight {
    font-weight: bold;
    font-size: small;
}

.temp {
    font-size: xxx-large;
}
.tempicon {
    display: flex;
    column-gap: 10px;
    padding-top: 10px;
}
.rain {
    width: 25px;
    height: 25px;
    color: aqua;
}
img {
    width: 48px;
    height: 48px;
}
.summary {
    display: flex;
    column-gap: 30px;
    padding-top: 10px;
    align-items:baseline;
}

.sumtemp {
    font-size: large;
}
.smtemp {
    font-size: small;
}